{% extends 'layout.html.twig' %}

{% block title %}
    Add Item
{% endblock %}

{%  block content %}
    <section>
        <h1>Add item</h1>
        <form method="post" action="/item/add">
            <label for="item">Item's Name</label>
            <input type="text" name="item" id="item" value="" />
            <button type="submit" name="send" >Add</button>
        </form>
        <p><a href='/'>Go to Items list</a></p>
    </section>
{% endblock %}
